<!doctype html>
<html lang="en" ng-app="UserRegister">
<head>
  <meta charset="UTF-8">
  <title>Angular Registration</title>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,700,900' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">

  <script src="js/lib/firebase/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyAAWDt0Srxh9PwF1_Ux9s8oDYrFZHherqo",
      authDomain: "userregister-5a5aa.firebaseapp.com",
      databaseURL: "https://userregister-5a5aa.firebaseio.com",
      storageBucket: "userregister-5a5aa.appspot.com",
      messagingSenderId: "53758629587"
    };
    firebase.initializeApp(config);
  </script>

  <script src="js/lib/angular/angular.min.js"></script>
  <script src="js/lib/angular/angular-route.min.js"></script>
  <script src="js/lib/angular/angular-animate.min.js"></script>
  <script src="https://cdn.firebase.com/libs/angularfire/2.1.0/angularfire.min.js"></script>

  <script src="js/app.js"></script>
  <script src="js/config/app-config.js"></script>
  <script src="js/services/authentication-service.js"></script>
  <script src="js/controllers/registration-controller.js"></script>
  <script src="js/controllers/meetings-controller.js"></script>
  <script src="js/controllers/checkins-controller.js"></script>
  <script src="js/config/error-handler.js"></script>

</head>
<body>
<header>
  <nav class="cf" ng-include="'views/nav.html'"></nav>
</header>
<div class="page">

  <div class="userinfo"ng-show="currentUser">
    <span class="userinfo">Hi {{ currentUser.firstname }}</span>
  </div>
  <main class="cf" ng-view>
  </main>
</div>
</body>

</html>
