<section class="card register">
  <form name="myform" novalidate ng-submit="checkinCtrl.addCheckin()">

    <div class="textintro">
      <h1>Check-in</h1>
      <p>Fill out this form to check-in or go
        <a ng-href="#/meetings">back to meetings</a>
      </p>
      <p class="error formerror" ng-show="message">{{checkinCtrl.message}}</p>
    </div>

    <fieldset>
      <input type="text" name="firstname" placeholder="First Name"
             ng-model="checkinCtrl.user.firstname" ng-required="true">

      <input type="text" name="lastname" placeholder="Last Name"
             ng-model="checkinCtrl.user.lastname" ng-required="true">

      <input type="email" name="email" placeholder="Email"
             ng-model="checkinCtrl.user.email" ng-required="true">

    </fieldset>

    <button type="submit" class="btn" ng-disabled="myform.$invalid">Checkin</button>
  </form>
</section>