<div class="card checkinslist">
  <h1>Check-ins</h1>
  <p>Here's a list of your latest check-ins</p>
  <div class="search cf">
    <h2>Search Checkins</h2>
    <input type="text" ng-model="checkinCtrl.query" placeholder="Search for users">

    <div class="formgroup">
      <span class="label">by: </span>
      <select ng-model="checkinCtrl.order">
        <option value="firstname">First Name</option>
        <option value="lastname">Last Name</option>
        <option value="date">Date</option>
      </select>
    </div>

    <div class="formgroup">
      <input id="dirascending" type="radio" ng-model="checkinCtrl.direction" name="direction">
      <label for="dirascending">asc</label>&nbsp;

      <input id="dirdescending" type="radio" ng-model="checkinCtrl.direction" name="direction" value="reverse">
      <label for="dirdescending">desc</label>
    </div>

    <div ng-show="currentUser" class="buttons cf">

      <button class="btn btn-pick" ng-hide="checkinCtrl.recordId" ng-click="checkinCtrl.pickRandom()">
        Pick Random
      </button>

      <button class="btn btn-pick" ng-show="checkinCtrl.recordId" ng-click="checkinCtrl.recordId=''">
        Reset
      </button>

    </div>

  </div>

  <ul class="userlist cf">
    <li ng-class="checkin.userState"
        ng-repeat="checkin in checkinCtrl.checkins | orderBy: order:checkinCtrl.direction | filter: { $id: checkinCtrl.recordId, $: checkinCtrl.query}">
      <div class="checkin">
        <div class="buttons" ng-show="currentUser">
          <button class="btn btn-delete tooltip" ng-click="checkinCtrl.deleteCheckin(checkin.$id)">
            <span>Delete this check-in</span>
          </button>
          <button class="btn btn-love tooltip" ng-click="checkinCtrl.showLove(checkin)">
            <span>Show the love</span>
          </button>
        </div>
        <div class="info">
          <h2>{{checkin.firstname}} {{checkin.lastname}}</h2>
          <div class="date">
            {{ checkin.date | date: "d MMM yy h:mm a"}}
          </div>
        </div>

        <div class="showcheckins" ng-show="checkin.show">
          <form class="cf" name="loveForm" ng-submit="checkinCtrl.giveLove(checkin, checkin.giftText)" novalidate>
            <input type="text" name="giftText" placeholder="What are you giving them?" ng-model="checkin.giftText"
                   ng-required="true">
            <button type="submit" class="btn" ng-disabled="loveForm.$invalid">+</button>
          </form>

          <ul class="awardslist cf">
            <li class="cf" ng-repeat="(key, award) in checkin.awards">
              <div class="awardslist">{{award.name}}
                <div class="buttons" ng-show="currentUser">
                  <button class="btn btn-delete award tooltip" ng-click="checkinCtrl.deleteLove(checkin.$id, key)">
                    <span>Delete this award</span>
                  </button>
                </div>
              </div>
            </li>
          </ul>

        </div>

      </div>
    </li>
  </ul>
</div>