<section class="card login">
  <form name="loginForm"
        novalidate ng-submit="registrationCtrl.login()">

    <div class="textintro">
      <h1>Hi there!</h1>
      <p>Log-in to access the awesomeness!</p>
      <p> {{ registrationCtrl.message }}</p>
    </div>

    <fieldset>
      <input type="email" name="email" placeholder="Email"
             ng-model="registrationCtrl.user.email" ng-required="true">
      <p class="error validationerror" ng-show="loginForm.email.$invalid && loginForm.email.$touched">
        Must be a valid email
      </p>

      <input type="password" name="password" placeholder="Password"
             ng-model="registrationCtrl.user.password" ng-required="true">
      <p class="error validationerror" ng-show="loginForm.password.$invalid && loginForm.password.$touched">
        Must be a valid password
      </p>

    </fieldset>

    <button type="submit" class="btn" ng-disabled="loginForm.$invalid">Login</button>
    <p>or <a ng-href="#/register">register</a></p>
  </form>
</section>
