<div class="card meetings cf">
  <div class="textintro">
    <h1>Add a Meeting</h1>
    <p>Type a meeting name and hit +</p>
  </div>
  <form class="formgroup addmeeting cf" name="meetingform" ng-submit="meetingCtrl.addMeeting()" novalidate>
    <div class="inputwrapper">
      <input type="text" name="meetingname" placeholder="Meeting name" ng-model="meetingCtrl.meetingName"
             ng-required="true">
    </div>

    <button type="submit" class="btn" ng-disabled="meetingform.$invalid">
      +
    </button>
  </form>

  <h2>Your meetings</h2>
  <div class="meeting" ng-repeat="(key, meeting) in meetingCtrl.meetings">

    <a class="btn btn-checkin tooltip" ng-href="#/checkins/{{currentUser.regUser}}/{{meeting.$id}}">
      <span>Go to check-in</span>
    </a>

    <a class="btn btn-list tooltip" ng-href="#/checkins/{{currentUser.regUser}}/{{meeting.$id}}/checkinsList">
      <span>View list of checked in users</span>
    </a>

    <button class="btn btn-delete tooltip" ng-click="meetingCtrl.deleteMeeting(key)">
      <span>Delete this meeting</span>
    </button>

    <span class="text">{{meeting.name}}</span>
  </div>
</div>
