<div class="branding"><a ng-href="#/">angularJS</a></div>
<ul ng-controller="RegistrationController as registrationCtrl">
  <li><a ng-hide="currentUser" ng-href="#/login">Login</a></li>
  <li><a ng-hide="currentUser" ng-href="#/register">Register</a></li>
  <li><a ng-hide="!currentUser" ng-href="#/login" ng-click="registrationCtrl.logout()">Logout</a></li>
  <li><a ng-hide="!currentUser" ng-href="#/meetings">
    Meetings
    <span ng-show="howManyMeetings" class="badge">
      {{howManyMeetings}}
    </span>
  </a></li>
</ul>
