<section class="card register">
  <form name="myform" novalidate ng-submit="registrationCtrl.register()">

    <div class="textintro">
      <h1>Register</h1>
      <p>To access site features</p>
      <p> {{ registrationCtrl.message }}</p>
    </div>

    <fieldset>
      <input type="text" name="firstname" placeholder="First Name"
             ng-model="registrationCtrl.user.firstname" ng-required="true">

      <input type="text" name="lastname" placeholder="Last Name"
             ng-model="registrationCtrl.user.lastname" ng-required="true">

      <input type="email" name="email" placeholder="Email"
             ng-model="registrationCtrl.user.email" ng-required="true">

      <input type="password" name="password" placeholder="Password"
             ng-model="registrationCtrl.user.password" ng-required="true">

    </fieldset>

    <button type="submit" class="btn" ng-disabled="myform.$invalid">Register</button>
    <p>or <a ng-href="#/login">login</a></p>
  </form>
</section>
